#rightshow {
	float: right;
	height: 500px;
	width: 258px;
	margin-top: 250px;
}
H1 {
	font-weight: bold;
	color: #29869A;
}
h2 {
	font-weight: bold;
	color: #50869A;
}
.townstext {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000;
}
